body {
  color: white;
  min-width: 800px;
}
.div {
  clear: both;
  margin: 3% 10%;
  height: 250px;
}
.logintext {
  clear: both;
  margin: 10% 0;
  float: left;
  width: 50%;
  text-align: center;
}
.login {
  margin-top: 5%;
  margin-left: 60%;
  height: 100%;
}

.login input {
  width: 70%;
  height: 18px;
  border: 1px;
  padding: 3% 10%;
  border-radius: 4px;
  font-size: 1rem;
}
.login button {
  color: #555;
  display: inline-block;
  height: 36px;
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 45%;
  line-height: 38px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #0381aa;
  color: #fff;
  background-color: #00a7de;
  float: left;
}

